html{
	position: relative;
	min-height: 100%;
}

body{
	margin-top: 50px;
	margin-bottom: 320px;
	background-color: #F9F9F9;
}

a{
	color:lightgrey!important;
}

a:hover{
	color:white!important;
}
.form-signin h1{
	margin-bottom: 15%;
}
.form-signin{
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: 10% auto;
}
.form-signin .form-control{
	position:relative;
	box-sizing: border-box;
	height: auto;
	padding: 4%;
	font-size: 1em;
	margin-bottom: 2%;
}
.form-signin button{
	margin-top: 10%;
}
.navbar-inverse {
	background-color: #0D6EFD!important;
	border-color: #0D6EFD!important;
}

.container-fluid{
	background-color: #0D6EFD!important;
}