/* ----Irina----*/
.form-signin h1{
	margin-bottom: 15%;
}
.form-signin{
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: 10% auto;
}
.form-signin .form-control{
	position:relative;
	box-sizing: border-box;
	height: auto;
	padding: 4%;
	font-size: 1em;
	margin-bottom: 2%;
}
.form-signin button{
	margin-top: 10%;
}
.wrapper{
	width: 25%;
	background: #fff;
	overflow: hidden;
	border-radius: 10px;
	margin: 10% auto;
	box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}
/*----fine Irina ---*/