html{
	position: relative;
	min-height: 100%;
}

body{
	margin-top: 50px;
	margin-bottom: 320px;
	background-color: #F9F9F9;
}

a{
	color:lightgrey!important;
}

a:hover{
	color:white!important;
}





.navbar-inverse {
	background-color: #0D6EFD!important;
	border-color: #0D6EFD!important;
}

.container-fluid{
	background-color: #0D6EFD!important;
}